{% extends 'base.html' %}

{% block content %}

<h2>About Jobber</h2>
<hr />

<div class="row">
    <div class="col s3">
        <h4>Why Jobber?</h4>
        <p>Jobber is a public, easy to use recruiting events site. We pride ourselves on giving our users the means to find the job of their dreams. With our user friendly design, checkout events happening in the area and sign up to register to attend. You can unregister at anytime and keep track of all your events on your personal profile page.</p>
    </div>
    <div class="col s3">
        <h4>Our Mission</h4>
        <p>Our mission here at Jobber is to provide our users with easy access to recruitment opportunities. We know the world is rough right now, so we want to make it easy. Search for events or industry specifics, join any event that catches your attention, and keep track of those you've signed up for and attended. Jobber is here to make your life easier</p>
    </div>
    <div class="col s3">
        <h4>Our Team</h4>
        <p>Here at Jobber, our team is working tirelessly to put together the events and website that will make your job search a breeze. Our team is always working on ways to improve our site and always looking for new events to add for our users. We strive for user-friendly interactions and on keeping your information safe.</p>
    </div>
    <div class="col s3">
        <h4>COVID-19</h4>
        <p>Due to the circumstanced brought on by COVID-19, all Jobber events have been moved to virtual events indefinitely. When registering for an event, the video link will be made available on the event's page. We advise against any in person recruitment events at this time. Any exceptions will be made clear on the event's page.</p>
    </div>
</div> 

{% endblock  %}