{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col l4 s 12">
        <h3 class="slogan">Recruitment Redefined</h3>
        <h5 class="subslogan">We have the right position for you, guaranteed</h5>
    </div>
    <div class="col l8 s12">
        <img src="https://i.imgur.com/8I7pftrl.jpg" alt="jobber-home">
    </div>
</div>
<hr />
  


  <form action="/search" method="get">
    <input type="search" name="query" id="query">

       <select class="browser-default" name="option">
       
        <option value="T" selected=selected>Tech</option>
        <option value="M">Marketing</option>
         <option value="C">Content-Creation</option>

  </select>
    <button type="submit">Search</button>
  </form>
{% comment %} <div class="row"> {% endcomment %}
  {% comment %} <form action="/searchoption" method="get">
    <label>Industry</label>
  
    <select class="browser-default" name="option">
        <option value="" disabled selected>Choose your option</option>
        <option value="T">Tech</option>
        <option value="M">Marketing</option>
         <option value="C">Content-Creation</option>
  </select>
  <button type="submit">Search by Type</button>
  </form> {% endcomment %}
{% comment %} </div> {% endcomment %}
<div class="row">
    {% for event in events %}
        <div class="col l3 m6">
            <div class="card small z-depth-3">
                <a href="{% url 'detail' event.id %}">
                    <div class="card-content black-text">
                        <span class="card-title">{{ event.title }}</span>
                        <p>{{ event.description|truncatechars:80 }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}