{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s4">
        <h3>Recruitment Redefined</h3>
        <h5>We have the right position for you, guaranteed</h5>
    </div>
    <div class="col s8">
        <img src="https://i.imgur.com/8I7pftrl.jpg" alt="jobber-home">
    </div>
</div>
<hr />

<input type="search" id="events-search" name="search">
<input class="blue darken-2" type="submit" id="search" class="btn" value="Search">

<div class="row">
    {% for event in events %}
        <div class="col s3">
            <div class="card">
                <a href="{% url 'detail' event.id %}">
                    <div class="card-content">
                        <span class="card-title">{{ event.title }}</span>
                        <p class="truncate">{{ event.description }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}