{% extends 'base.html' %}
{% block content %}
{% comment %} is_authenciated will help to run get the username attribute if they are looged in {% endcomment %}
{% if user.is_authenticated %}

<h2>Welcome , {{ user.get_username }}</h1>
<p>{{user.email}}</p>
<p>{{user.profile.bio}}</p>
<form method='POST' enctype="multipart/form-data">
    {%csrf_token%}
    {{u_form.as_p}}
    {{p_form.as_p}}
    <button type='submit'>Update</button>
</form>
<hr />


{% endif %}

<h5>Your Meetings</h5>
<div class="row">
    {% if events %}
        {% for event in events %}
            <div class="col s3">
                <div class="card medium">
                    
                    <a href="{% url 'detail' event.id %}">
                       
                        <div class="card-content">
                        
                            {% comment %} <p>{{ user.username }}</p> {% endcomment %}
                            <span class="card-title black-text">{{ event.title }}</span>
                            <p class="black-text">{{ event.description|truncatechars:80 }}</p>
                            <div class="card-action center-align"><a href="{{ event.url }}">Click Here to Open Event</a></div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4>No Registered Events</h4>
    {% endif %}
</div>


{% endblock %}